
# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

resources:
 pipelines:
     - pipeline: my_pipeline
       source: anukritigupta1234.hello-world
       project: t1
       trigger: true

      

trigger:
- master

pool: default

# steps:
# - script: echo Hello, world!
#   displayName: 'Run a one-line script'

stages:
 - stage: ProduceArtifact
   jobs:
     - job: J4
       pool: 
        name: Default
       steps:
         - download: my_pipeline
